@font-face{
    font-family: "hola";
    src: url("../Asset/font/AvenirNextLTPro-Heavy.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --footer: #202020;
    font-family: "Times New Roman"

}
.paguina{
    display: flex;
    min-width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column; 
}



.paguina__header{
    position: relative;
    height: 15vh;
}

.nav{
    width: 100vw;
    height: 15vh;
    position: fixed;
    display: block;
    box-shadow: 2px 5px 8px rgba(10, 12, 0, .8);
    background: #fff;
    z-index: 100;
}

.nav__superior, .nav__inferior {
    width: 100%;
}

.nav__superior {
    display: flex;
    justify-content: space-between;
    height: 55%;
    align-items: center;
    background: #fff; 
}

.nav__superior-logo > img{
    min-width: 300px;
}

a{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.nav__inferior{
    height: 46%;
    display: flex;
    background:rgba(249, 253, 5, 0.938);
    align-items: center;
}

.nav__inferior-ul{
    display: flex;
    width: 100%;
}

.inferior__ul-li{
    width: max-content;
    padding: 5px 10px;
    overflow: hidden;
    min-width: max-content;
}

.nav__responsive-ul{
    display: none;
}

@media screen and (max-width: 980px) {

    .nav__inferior-ul{
        display: none;
    }

    .nav__responsive-ul{
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
    }

    .nav__responsive-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .nav__responsive-button{
        width: 100%;
        height: 100%;
        margin: auto;
        font-size: 40px; 
        display: flex;
        align-items: center;
        font-weight: 800;
        transition: all 1s ease  ;
        position: relative;
        font-size: 40px;
    }

    .nav__responsive-button > i {
        font-size: 35px;
        margin: 0 4px ;
    }
 
    .nav__li-container{
        width: 0;
        height: auto;
        background: #ccc;
        position: absolute;
        display: block;
        margin: 0.5px;
        overflow: hidden;
        transition: all 2s ease-in-out;
        box-shadow: 2px 4px 5px rgba(10, 12, 0, .8);
        
    }

    .nav__responsive-li{
        padding: 10px 2px;
        border-bottom: .5px solid black;
    }

    .nav__responsive-ul:hover > .nav__li-container {
        width: 40vw;
    }
}
.paguina__main{
    background-color: red;
    height: 400vh;
}
.paguina__footer{
    width: 100%;
    height: auto;
    background: var(--footer);
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: space-evenly;
}

.column {
    width: 350px;
    padding: 10px;
    margin: 3px;
    text-align: center;
}
.column >  iframe{
    width: 100%;
    height: 95%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.column:first-child{
    margin-bottom: 15px;
}

.column > p{
    text-align: justify;
    padding: 5px 8px;
    font-size: 12px;
}
.column__label{
    font-size: 15px;
    font-weight: 700;
    text-shadow: 2px 1px 3px #000;
}

.column__footer{
    margin-top: 15px;
    align-self: flex-end;
    width: 100%;
    text-align: center;
}