@font-face{
    font-family: "hola";
    src: url("../Asset/font/AvenirNextLTPro-Heavy.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Times New Roman";
    text-decoration: none;
    --amarillo: rgba(249, 253, 5, 0.938);
    --footer: #202020;
}
.paguina{
    display: flex;
    min-width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: column; 
}
.paguina__header{
    position: relative;
    height: 20vh;
    outline: 2px solid red;
    margin-bottom: 20px;
}

.nav{
    width: 100vw;
    height: max-content;
    position: fixed;
    display: block;
    box-shadow: 2px 5px 6px rgba(10, 12, 0, .8);
    background: #fff;
    z-index: 100;
}

.nav__superior, .nav__inferior {
    width: 100%;
}

.nav__superior {
    display: flex;
    justify-content: space-between;
    height: 55%;
    align-items: center;
    background: #fff; 
}

.nav__superior-logo > img{
    min-width: 300px;
}

a{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.nav__inferior{
    height: 45px;
    display: flex;
    background: var(--amarillo);
    align-items: center;
    position: relative;
    z-index: 200;
}

.nav__inferior-ul{
    display: flex;
    width: 100%;
}

.inferior__ul-li{
    width: max-content;
    padding: 5px 10px;
    overflow: hidden;
    min-width: max-content;
}

.nav__responsive-ul{
    display: none;
}

@media screen and (max-width: 980px) {

    .nav__inferior-ul{
        display: none;
    }

    .nav__responsive-ul{
        position: relative;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 800;
    }

    .nav__responsive-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 100;
        
    }

    .nav__responsive-button{
        width: 100%;
        height: 100%;
        margin: auto;
        font-size: 40px; 
        display: flex;
        align-items: center;
        font-weight: 800;
        transition: all 1s ease  ;
        position: relative;
        font-size: 40px;
        z-index: 200;
    }

    .nav__responsive-button > i {
        font-size: 35px;
        margin: 0 4px ;
    }
 
    .nav__li-container{
        width: 40vw;
        height: auto;
        background: var(--amarillo);
        position: absolute;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        box-shadow: 2px 4px 5px rgba(10, 12, 0, .8);
        margin: 0.6px 0;
        transition: 24s all;
        z-index: -1;
    }

    .nav__responsive-li{
        width: 100%;
        padding: 10px 2px;
        position: relative;
        text-align: center;
        box-shadow: 1px 2px .5px rgba(0, 0, 0, .5);
    }
    .nav__responsive-ul:hover  .nav__inferior-ul{
        background: red;
        overflow: none !important;

    }
    .nav__responsive-ul:hover > .nav__li-container {
        top: 0;
        z-index: 5;
    }
}
.paguina__footer{
    width: 100%;
    height: auto;
    background: var(--footer);
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    justify-content: space-evenly;
}

.column {
    width: 350px;
    padding: 10px;
    margin: 3px;
    text-align: center;

}
.column >  iframe{
    width: 100%;
    height: 95%;
    margin-top: 10px;
    margin-bottom: 5px;
}

.column:first-child{
    margin-bottom: 15px;
}

.column > p{
    text-align: justify;
    padding: 5px 8px;
    font-size: 12px;
}
.column__label{
    font-size: 15px;
    font-weight: 700;
    text-shadow: 2px 1px 3px #000;
}

.column__footer{
    margin-top: 15px;
    align-self: flex-end;
    width: 100%;
    text-align: center;
}




.container__icon{
    position: relative;
    width: 100%;
    height: auto;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
}

.icon__img {
    width: 50%;
    text-align: center;
    background: transparent;
    justify-content: space-between;
    align-items: center;
}

.icon__img >label{
    font-size: 15px;
}

.icon__img > a {
    text-decoration: none;
    display: block;
    font-size: 3em;
    margin-top: 2px;
    color: #fff
}

.fa-youtube{
    color: #f12;
}

.fa-facebook{
    color: #3b5998;
    border-radius: 50%;
}

.ri-instagram-fill{
    background: radial-gradient( circle at 33% 100%, #fed373 4%, #f15245 30%,  #d92e7f 62%,#9b36b7 85%,#515ecf);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;

}
.ri-whatsapp-fill{
    color: #00bb2d;
}